################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RcpParser/bin/
/RcpParser/obj/
/RcpParser/.vs/
/.vs/
